.h_topBar {
    width: 100%;
    height: 70px;
    background-color: #00a550;
    margin: 0;
    border-bottom: 1px solid #9e9e9e;
}

.h_topBarName {
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    float: left;
    margin-top: 13px;
    margin-left: 24px;
    color: white;
}

.h_link {
    color: #8b9dc3;
    font-size: 25px;
    margin-top: 19px;
}

.h_searchBox {
    width: 210px;
    height: 40px;
    font-size: 20px;
    border: none;
    float: right;
    margin-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
    border: 1px solid black;
    border-right: none;
    font-family: 'Open Sans', sans-serif;
}

.si_textBox::placeholder {
    color: #9e9e9e;
    opacity: 1;
}
.si_textBox::-webkit-input-placeholder {
    color: #9e9e9e;
    opacity: 1;
}
.si_textBox::-moz-placeholder {
    color: #9e9e9e;
    opacity: 1;
}
.si_textBox:-ms-input-placeholder {
    color: #9e9e9e;
    opacity: 1;
}
.si_textBox:-moz-placeholder {
    color: #9e9e9e;
    opacity: 1;
}

.h_searchBox:focus {
    outline: none;
}

.h_searchIcon {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 15px;
    margin-right: 24px;
    cursor: pointer;
    border: 1px solid black;
    border-left: none;
}

.h_chatContainer {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #9e9e9e;
}

.h_chatterboxContainer {
    width: 550px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

.h_chatterbox {
    width: 480px;
    height: 55px;
    float: left;
    font-size: 27px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    border-radius: 5px;
}

.h_chatterbox::placeholder {
    color: #9e9e9e;
    opacity: 1;
}
.h_chatterbox::-webkit-input-placeholder {
    color: #9e9e9e;
    opacity: 1;
}
.h_chatterbox::-moz-placeholder {
    color: #9e9e9e;
    opacity: 1;
}
.h_chatterbox:-ms-input-placeholder {
    color: #9e9e9e;
    opacity: 1;
}
.h_chatterbox:-moz-placeholder {
    color: #9e9e9e;
    opacity: 1;
}

.h_chatterbox:focus {
    outline: none;
}

.h_sendIcon {
    width: 55px;
    height: 55px;
    float: left;
    margin-left: 10px;
    margin-top: 1px;
    cursor: pointer;
}

.h_container {
    width: 100%;
}

.h_accountContainer {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    float: left;
    font-family: "Ruda", sans-serif;
    text-align: center;
    padding: 4px;
}

.h_feedContainer {
    height: 500px;
    width: calc(100% - 600px);
    border: 1px solid black;
    float: left;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

.h_friendsContainer {
    height: 400px;
    width: 300px;
    float: right;
}

.a_main {
    width: 600px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 10px;
/*    this needs a border  */
}

.a_photo {
    width: 102px;
    height: 102px;
    position: absolute;
    top: 50px;
    right: 0;
}

.a_profilePicture {
    width: 102px;
    height: 102px;
}

.a_Friends {
    height: 415px;
    width: 198px;
    position: absolute;
    left: 0;
    top: 85px;
    overflow-y: auto;
}

.a_infoFrame {
    height: 450px;
    width: 300px;
    position: absolute;
    left: 198px;
    top: 50px;
    background-color: #4267B2;
}

.a_utility {
    height: 348px;
    width: 102px;
    position: absolute;
    right: 0;
    top: 152px;
    background-color: #00a550;
}

.a_title {
    width: 600px;
    height: 50px;
    font-size: 25px;
    padding-top: 7px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #4267B2;
    color: white;
}

.a_accountInfoBlock {
    width: 280px;
    height: 25px;
    font-family: 'Ruda', sans-serif;
    font-size: 17px;
    display: block;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.a_editData {
    width: 164px;
    font-family: 'Ruda', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    background-color: #4267B2;
    border: 1px solid white;
    color: white;
}

.a_editData:focus {
    outline: none;
}

.a_utilButtons {
    border: 1px solid #4267B2;
    color: white;
    cursor: pointer;
    width: 90px;
    height: 50px;
    background-color: #9e9e9e;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    right: 6px;
    transition-duration: 0.3s;
    text-align: center;
}

.a_utilButtons:hover {
    background-color: #4267B2;
}

.a_friendDiv {
    border: 2px solid white;
    width: 100%;
    height: 100px;
    margin-top: 3px;
    color: white;
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    padding-top: 4px;
    cursor: pointer;
}

.a_ajaxFriends {
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 24px;
    width: 150px;
    border: 1px solid #00a550;
    border-radius: none;
}

.a_ajaxFriends:focus {
    outline: none;
}

.i_main {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.i_item {
    height: auto;
    color: white;
    border: 1px solid;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    width: 400px;
    margin-top: 6px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: #00a550;
}

