body {
    background-color: white;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.si_topBar {
    width: 100%;
    height: 65px;
    background-color: #00a550;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: white;
    padding-top: 5px;
}

.si_topBarName {
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
}

.si {
    height: 500px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.siDivider {
    height: 500px;
    position: relative;
    float: left;
}

.si_logo {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 100%;
    -ms-transform: translate(-100%, -20%);
    transform: translate(-100%, -20%);
}

.si_container {
    height: 400px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.si_text {
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-bottom: 17px;
}

.si_textBox {
    width: 350px;
    height: 35px;
    font-size: 20px;
    border: 2px solid black;
}

.si_textBox::placeholder {
    color: #000000;
    opacity: 1;
}
.si_textBox::-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
}
.si_textBox::-moz-placeholder {
    color: #000000;
    opacity: 1;
}
.si_textBox:-ms-input-placeholder {
    color: #000000;
    opacity: 1;
}
.si_textBox:-moz-placeholder {
    color: #000000;
    opacity: 1;
}

.si_textBox:focus {
    outline: none;
    border: 2px solid #00a550;
}

.si_createButton {
    width: 150px;
    height: 30px;
    float: right;
    margin-right: 15px;
    border: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #00a550;
    cursor: pointer;
    font-size: 16px;
}

.si_checkContainer {
    height: 30px;
    text-align: center;
    width: 150px;
    float: left;
    padding-left: 20px;
    padding-top: 2px;
}

.si_rememberMe {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.si_checkbox {
    cursor: pointer;
    height: 18px;
    float: left;
}
